<!DOCTYPE html>
  <head>
    <title><%- title %></title>
    <link rel='stylesheet' href='css/style.css'>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-2.0.3.min.js"></script>
    <script type="js/bootstrap-responsive.js"></script>
    <script type="text/javascript">
	    $.ajax({
	    	type: 'POST',
	    	url: '/listings',
	    	dataType: 'json',
	    	})
	    	.done(function(data) {
	    		//alert(JSON.stringify(data));
	    		var results ="";
	    		var resultsArray = [];
	    		
	    		//sort alphabetically by App Name 
	    		data.sort(function(a, b){
	    	
	    				if (a.title.toLowerCase() < b.title.toLowerCase()) return -1;
	    		    	if (b.title.toLowerCase() < a.title.toLowerCase()) return 1;
	    		    	return 0;
	    		});
	    		
	    		//sort numerically, descending
	    		data.sort(function(a,b){
	    			return b.numberOfInstalls - a.numberOfInstalls;
	    		});
	    		
	    		$(data).each(function(index,element) {
	    			
	    			//check for image and replace with glyph if undefined
	    			var appIcon = element.imageUrl;
	    			if(appIcon){
	    				appIcon = '<img src="' + appIcon  + '" class="pull-left" />';
	    			}else{
	    				appIcon = '<span class="glyphicon glyphicon-picture"></span> ';
	    			}
	    			
	    			results += '<li class="list-group-item clearfix"><a href="' + element.url + '">';
	    			results += '<span class="badge">' + element.numberOfInstalls + '</span>';
	    			results += '<div class="appIcon">' + appIcon + '</div>';
	    			results += '<h3>' + element.title + '</h3>';
	    			results += '<p>' + element.developerName + ' (' + element.author + ')</p>';
	    			results += '</a></li>'; 			
	    			
	    		});
	    		
	    		$('#leaderboard').append(results);		    		
	    	});
    </script>
  </head>
  <body>
  	
	<div class="container row-fluid">
	<div class="hero-unit"><h1>CSI-319 Leader Board</h1></div>
		<div class="span12">
			<div class="row-fluid">
				<div class="span6">
				<h2>App 1</h2>
				<ul class="list-group" id="leaderboard">
				<!--  Content appended here -->
				</ul>
				</div>
				
				<div class="span6">
				<h2>App 2</h2>
				<ul class="list-group" id="leaderboard">
				<!--  Content appended here -->
				</ul>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>
