<!DOCTYPE html>
  <head>
    <title><%- title %></title>
    <link rel='stylesheet' href='css/style.css'>
    <link rel="stylesheet" href="css/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="js/bootstrap.min.js"></script>
    <script type="text/javascript">
    	$(function() {
    		$('#progressbar').progressbar({
    			value: false
    		});
    	});
    	
	    $.ajax({
	    	type: 'POST',
	    	url: '/listings',
	    	dataType: 'json',
	    	})
	    	.done(function(data) {
	    		$('#progressbar').progressbar('disable');
	    		$('#progressbar').slideUp();
	    		
	    		//alert(JSON.stringify(data));
	    		var results ="";
	    		var resultsArray = [];
	    		
	    		//sort numerically, descending
	    		data.sort(function(a,b){	
	    			if(b.numberOfInstalls === a.numberOfInstalls){
	    		    	//sort by title
	    				return a.title.toLowerCase().localeCompare(b.title.toLowerCase());
	    			}else{
	    				return b.numberOfInstalls - a.numberOfInstalls;
	    			}	    		
	    		});
	    		
	    		$(data).each(function(index,element) {
	    			
	    			//check for image and replace with glyph if undefined
	    			var appIcon = element.imageUrl;
	    			if(appIcon){
	    				appIcon = '<img src="' + appIcon  + '" class="pull-left" />';
	    			}else{
	    				appIcon = '<span><!-- default --></span> ';
	    			}
	    			
	    			results += '<li class="list-group-item clearfix"><a href="' + element.url + '">';
	    			results += '<span class="badge">' + element.numberOfInstalls + '</span>';
	    			results += '<div class="appIcon">' + appIcon + '</div>';
	    			results += '<h3>' + element.title + '</h3>';
	    			results += '<p>' + element.developerName + ' (' + element.author + ')</p>';
	    			results += '</a></li>'; 			    			
	    		});
	    		
	    		$('#leaderboard').append(results);		    		
	    	});
    </script>
  </head>
  <body>	
	<div class="container">
		<div class="jumbotron">
			<h1>CSI-319 Leader Board</h1>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<h2>App 1</h2>
				<div id="progressbar"></div>
				<ul class="list-group" id="leaderboard">
				<!--  Content appended here -->
				</ul>
			</div>
				
			<div class="col-lg-6">
				<h2>App 2</h2>
				<ul class="list-group" id="leaderboard2">
				<!--  Content appended here -->
				</ul>
			</div>
		</div>
	</div>
  </body>
</html>
